@import "tailwindcss";
@import "./styles/globals.css";
@import "./styles/layout.css";
@import "./styles/components.css";
@import "./styles/buttons.css";

@layer utilities {
  .text-0\.5xl {
    font-size: 1.5rem;
    line-height: 1.3;
  }
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
.pdf-export * {
  background-image: none !important;
}
